extends layouts/default
block title
  |02-actualités page

block root
  main
    section.hero.parallax-window(data-parallax="scroll", data-image-src="images/hero.jpg")
      include layouts/header
      include layouts/navbar
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item: a(href="#") Accueil
                li.breadcrumb-item.active Actualités

            .brand.brand--title-sm
              h1.brand__title(data-aos="fade-left")
                span Actualités
              .brand__img(data-aos="fade-right"): img(src="images/uploads/brands/brand-02.png", alt="")

    section.actu-page
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .actu-page-content
              .text.text--blue
                h2(data-aos="fade-left") Titre article
                span 21.02.2021
              figure
                img(src="images/uploads/img-16.jpg", alt="")
              p: strong Septies diu Valentiam fratres quorum crebris Vadomarium oriens perferret moturus Constantius vastabantur egressus oriens perferret perferret consulatu terrae suo et Vadomarium Valentiam perferret perferret Caesaris petit arma petit tepore dum oriens suo et et Arelate Arelate arma tepore arma reges moturus confines caeli excursibus crebris tepore oriens petit dum limitibus arma ter suo terrae Valentiam Gallorum perferret Vadomarium tepore excursibus diu ter vastabantur Valentiam ter ter Valentiam fratres limitibus tepore arma Gallorum Alamannorum egressus caeli tepore limitibus egressus perferret Arelate consulatu crebris arma in suo caeli Caesaris in arma vastabantur Constantius ter in et caeli et Alamannorum arma reserato moturus.
              p Septies diu Valentiam fratres quorum crebris Vadomarium oriens perferret moturus Constantius vastabantur egressus oriens perferret perferret consulatu terrae suo et Vadomarium Valentiam perferret perferret Caesaris petit arma petit tepore dum oriens suo et et Arelate Arelate arma tepore arma reges moturus confines caeli excursibus crebris tepore oriens petit dum limitibus arma ter suo terrae Valentiam Gallorum perferret Vadomarium tepore excursibus diu ter vastabantur Valentiam ter ter Valentiam fratres limitibus tepore arma Gallorum Alamannorum egressus caeli tepore limitibus egressus perferret Arelate consulatu crebris arma in suo caeli Caesaris in arma vastabantur Constantius ter in et caeli et Alamannorum arma reserato moturus.

            .text-center
              a.btn.btn-dark(href="#") retour
