extends layouts/default
block title
  |02-actualités

block root
  main
    section.hero.parallax-window(data-parallax="scroll", data-image-src="images/hero.jpg")
      include layouts/header
      include layouts/navbar
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item: a(href="#") Accueil
                li.breadcrumb-item.active Actualités

            .brand.brand--title-sm
              h1.brand__title(data-aos="fade-left")
                span Actualités
              .brand__img(data-aos="fade-right"): img(src="images/uploads/brands/brand-02.png", alt="")

    section.actu.actu-last-actu
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .text.text--blue
              .actu-last-actu__text
                h2(data-aos="fade-left") Dernières
                  br
                  |  Actus
                span 21.02.2021
                strong TITRE
                p Bonos magnificentia Philos Philos virtutem Galos quidam nec qui reperiuntur eos magnificentia omnino omittamus Paulos.
              .actu-last-actu__img.img-container
                img(src="images/uploads/img-02.jpg", alt="")
              a.btn.btn-blue-5(href="#", data-aos="fade-left") lire plus

    section.actu-article
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .actu-article-list
              .actu-article-slider-container.swiper-mobile-md
                .swiper-container#actu-article-slider-container
                  .swiper-wrapper
                    .swiper-slide
                      .card
                        .card__img
                          img(src="images/uploads/img-15.jpg", alt="")
                        .card__content
                          span 21.02.2021
                          h4 Titre article 1
                          p Bonos magnificentia Philos Philos virtutem Galos quidam nec qui reperiuntur eos magnificentia omnino omittamus Paulos.
                          .card__btn
                            a.btn.btn-dark(href="#")  lire plus
                    .swiper-slide
                      .card
                        .card__img
                          img(src="images/uploads/img-15.jpg", alt="")
                        .card__content
                          span 21.02.2021
                          h4 Titre article 1
                          p Bonos magnificentia Philos Philos virtutem Galos quidam nec qui reperiuntur eos magnificentia omnino omittamus Paulos.
                          .card__btn
                            a.btn.btn-dark(href="#")  lire plus
                    .swiper-slide
                      .card
                        .card__img
                          img(src="images/uploads/img-15.jpg", alt="")
                        .card__content
                          span 21.02.2021
                          h4 Titre article 1
                          p Bonos magnificentia Philos Philos virtutem Galos quidam nec qui reperiuntur eos magnificentia omnino omittamus Paulos.
                          .card__btn
                            a.btn.btn-dark(href="#")  lire plus
                    .swiper-slide
                      .card
                        .card__img
                          img(src="images/uploads/img-15.jpg", alt="")
                        .card__content
                          span 21.02.2021
                          h4 Titre article 1
                          p Bonos magnificentia Philos Philos virtutem Galos quidam nec qui reperiuntur eos magnificentia omnino omittamus Paulos.
                          .card__btn
                            a.btn.btn-dark(href="#")  lire plus
                    .swiper-slide
                      .card
                        .card__img
                          img(src="images/uploads/img-15.jpg", alt="")
                        .card__content
                          span 21.02.2021
                          h4 Titre article 1
                          p Bonos magnificentia Philos Philos virtutem Galos quidam nec qui reperiuntur eos magnificentia omnino omittamus Paulos.
                          .card__btn
                            a.btn.btn-dark(href="#")  lire plus
                    .swiper-slide
                      .card
                        .card__img
                          img(src="images/uploads/img-15.jpg", alt="")
                        .card__content
                          span 21.02.2021
                          h4 Titre article 1
                          p Bonos magnificentia Philos Philos virtutem Galos quidam nec qui reperiuntur eos magnificentia omnino omittamus Paulos.
                          .card__btn
                            a.btn.btn-dark(href="#")  lire plus
                    .swiper-slide
                      .card
                        .card__img
                          img(src="images/uploads/img-15.jpg", alt="")
                        .card__content
                          span 21.02.2021
                          h4 Titre article 1
                          p Bonos magnificentia Philos Philos virtutem Galos quidam nec qui reperiuntur eos magnificentia omnino omittamus Paulos.
                          .card__btn
                            a.btn.btn-dark(href="#")  lire plus
                    .swiper-slide
                      .card
                        .card__img
                          img(src="images/uploads/img-15.jpg", alt="")
                        .card__content
                          span 21.02.2021
                          h4 Titre article 1
                          p Bonos magnificentia Philos Philos virtutem Galos quidam nec qui reperiuntur eos magnificentia omnino omittamus Paulos.
                          .card__btn
                            a.btn.btn-dark(href="#")  lire plus
                    .swiper-slide
                      .card
                        .card__img
                          img(src="images/uploads/img-15.jpg", alt="")
                        .card__content
                          span 21.02.2021
                          h4 Titre article 1
                          p Bonos magnificentia Philos Philos virtutem Galos quidam nec qui reperiuntur eos magnificentia omnino omittamus Paulos.
                          .card__btn
                            a.btn.btn-dark(href="#")  lire plus


                .swiper-button-prev
                  i.icon-chevron-left
                .swiper-button-next
                  i.icon-chevron-right
