extends layouts/default
block title
  |03-carrières

block root
  main
    section.hero.parallax-window(data-parallax="scroll", data-image-src="images/hero.jpg")
      include layouts/header
      include layouts/navbar
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item: a(href="#") Accueil
                li.breadcrumb-item: a(href="#") Nos expertises
                li.breadcrumb-item.active Archivage

            .brand
              h1.brand__title(data-aos="fade-left")
                span Notre
                br
                |  Entreprise
              .brand__img: img(src="images/uploads/brands/brand-05.png", alt="")

    section.carrer-presentation
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .carrer-presentation__container
              .text.text--green
                h2(data-aos="fade-left") Intro titre
              .carrer-presentation__intro
                p Scipio diligas quidvis ut tamen Rupilium alterum ad deinde omnes P Non L quantum possit diligas quem atque primum non ut sustinere possis eius quantum fratrem tribuendum Quod Non Rupilium ille deferre deferre possis omnes tuos possis perducere tribuendum non etiam excellas ut neque P amplissimos L quantum tuos est quem potuit fratrem diligas possis quem non ipse ad honores P fratrem efficere etiam Rupilium tamen neque primum etiam si possit atque quid enim efficere tamen Rupilium alterum consulem si ille fratrem quidvis tribuendum quidvis ut est sustinere primum quantum possis alterum sustinere etiam honores primum tu si quid efficere.
            .carrer-presentation__descripiton
              img(src="images/uploads/img-18.jpg", alt="")
              .carrer-presentation____descripiton-content
                div
                  p Scipio diligas quidvis ut tamen Rupilium alterum ad deinde omnes P Non L quantum possit diligas quem atque primum non ut sustinere possis eius quantum fratrem tribuendum Quod Non Rupilium ille deferre deferre possis omnes tuos possis perducere tribuendum non etiam
                  img(src="images/uploads/img-20.jpg", alt="")
                p Scipio diligas quidvis ut tamen Rupilium alterum ad deinde omnes P Non L quantum possit diligas quem atque primum non ut sustinere possis eius quantum fratrem tribuendum Quod Non Rupilium ille deferre deferre possis omnes tuos possis perducere tribuendum non etiam excellas ut neque P amplissimos L quantum tuos est quem potuit fratrem diligas possis quem non ipse ad honores P fratrem efficere etiam Rupilium tamen neque primum etiam si possit atque quid enim efficere tamen Rupilium alterum consulem si ille fratrem quidvis tribuendum quidvis ut est sustinere primum quantum possis alterum sustinere etiam honores primum tu si quid efficere.
                p Scipio diligas quidvis ut tamen Rupilium alterum ad deinde omnes P Non L quantum possit diligas quem atque primum non ut sustinere possis eius quantum fratrem tribuendum Quod Non Rupilium ille deferre deferre possis omnes tuos possis perducere tribuendum non etiam excellas ut neque P amplissimos L quantum tuos est quem potuit fratrem diligas possis quem non ipse ad honores P fratrem efficere etiam Rupilium tamen neque primum etiam si possit atque quid enim efficere tamen Rupilium alterum consulem si ille fratrem quidvis tribuendum quidvis ut est sustinere primum.

    section.carrer-img.img-container: img(src="images/uploads/img-21.jpg", alt="alt")

    section.carrer
      img(src="images/briefcasebg.png", alt="alt")
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .text.text--white.text--split-lg
              h2(data-aos="fade-left") Présentation
              p Eloquentiam flagitem verbis et sed afferat eloquentiam admodum quidem afferat quod nam ego quod si tamen dicit non quidem ego satisfacit locis et et locis locis me dicit quidem non philosophi si inquam non ego offendit inquam non igitur quantum si philosophi re re si falli me philosopho quidem complectitur.
            .carrer-list
              h4 CONSEIL & intégration de solutions :
              ul
                li Développeur
                li Consultant
              h4 INGÉNIERIE :
              ul
                li Dessinateur projeteur
              h4 SLI/ASL & RÉDACTION TECHNIQUE :
              ul
                li Logisticien
                li Technicien codificateur
                li Technicien GMAO
                li Rédacteur technique
                li Correcteur éditeur
              h4 ARCHIVAGE :
              ul
                li Archiviste
                li Records Manager
              h4 DÉMATÉRIALISATION :
              ul
                li Technicien de numérisation
                li Opérateur de saisie
              h4 Gestion DOCUMENTAIRE :
              ul
                li Ingénieur documentaliste
                li Documentaliste
                li Aide documentaliste
                li Assistant administratif
                li Doc controller
                li Lead doc controller
                li Chargé de veille
                li Bibliothécaire
                li Technicien doc
              h4 MANAGEMENT & SUPPORT :
              ul
                li Chef de projets
                li Commercial
                li Responsable de site
              .join
                span Rejoignez-nous!
                a.btn.btn-blue-4(href="#", data-aos="fade-right")  postulez












