extends layouts/default
block title
  |03-carriere page

block root
  main
    section.hero.parallax-window(data-parallax="scroll", data-image-src="images/hero.jpg")
      include layouts/header
      include layouts/navbar
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item: a(href="#") Accueil
                li.breadcrumb-item: a(href="#") Nos expertises
                li.breadcrumb-item.active Archivage

            .brand
              h1.brand__title(data-aos="fade-left")
                span Conseil & Intégration de solutions :
                br
                |  Développeur
              .brand__img: img(src="images/uploads/brands/brand-04.png", alt="")

    section.carrer-page-info
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .carrer-page-info-list
              .carrer-page-item
                img(src="images/carreer/control.png", alt="alt")
                span CONTRÔLE
              .carrer-page-item
                img(src="images/carreer/project.png", alt="alt")
                span GESTION DE PROJETS
              .carrer-page-item
                img(src="images/carreer/client.png", alt="alt")
                span RELATION CLIENT

    section.skills.carrer-page-description
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .text.text--white.text--split-lg
              h2(data-aos="fade-left") Description métier
              p Bonos magnificentia Philos Philos virtutem Galos quidam nec qui reperiuntur eos magnificentia omnino omittamus Paulos.
            .carrer-page-description-content
              p TODO
              .text-right
                .join
                  span Rejoinez-nous!
                  a.btn.btn-success(href="#")  postulez

            .text-center
              a.btn.btn-dark(href="#") RETOUR CARRIÈRES
