extends layouts/default
block title
  |04-contact

block root
  main
    section.hero.hero-contact.parallax-window(data-parallax="scroll", data-image-src="images/hero.jpg")
      include layouts/header
      include layouts/navbar
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item: a(href="#") Accueil
                li.breadcrumb-item.active Contact

            .brand
              h1.brand__title(data-aos="fade-left")
                span Nous sommes présents
                |  sur tout le territoire français au travers de nos 7 agences.
                small N’hésitez pas à utiliser le formulaire ci-dessous pour être contacté
              .brand__img: img(src="images/uploads/brands/brand-09.png", alt="")

    section.page-contact
      .container-fluid
        .row.page-contact-content
          .offset-lg-2.col-lg-3
            .text.text--green
              h2(data-aos="fade-left") Nous
                br
                |  contacter
          .col-lg-5
            form.page-contact-form(action="#")
              .form-check
                span Êtes-vous déjà client ?
                .form-check-wrapper
                  .form-check-item
                    label(for="yes") Oui
                    .custom-check.custom-check--no-label
                      input(type="radio", name="client", id="yes")
                      label(for="yes")
                  .form-check-item
                    label(for="no") Non
                    .custom-check.custom-check--no-label
                      input(type="radio", name="client", id="no")
                      label(for="no")
              .form-input
                .mb-3
                  input(type="text", placeholder="Nom", name="surname")
                .mb-3
                  input(type="text", placeholder="Prénom", name="name")
                .mb-3
                  input(type="text", placeholder="Fonction", name="func")
                .mb-3
                  input(type="text", placeholder="société", name="company")
                .mb-3
                  input(type="text", placeholder="Code Postal", name="postal-code")
                .mb-3
                  input(type="text", placeholder="Pays", name="country")
                .mb-3
                  input(type="text", placeholder="Télephone", name="phone")
                .mb-3
                  input(type="email", placeholder="E-mail", name="email")
              .form-textarea.mb-5
                textarea(name="message", placeholder="Message")

              .contact-info
                .custom-check
                  input(type="checkbox", name="accept", id="accept")
                  label(for="accept") En soumettant ce formulaire, j’accepte que les informations saisies soient exploitées dans le cadre de la demande de contact

              .text-right
                btn.btn.btn-success(href="#", type="submit", data-aos="fade-right") envoyer
            p Pour connaître et exercer vos droits, notamment pour annuler votre consentement, vous pouvez consulter la rubrique dédiée dans les Mentions Légales.




