extends layouts/default
block title
  |05-entreprise

block root
  main
    section.hero.parallax-window(data-parallax="scroll", data-image-src="images/hero.jpg")
      include layouts/header
      include layouts/navbar
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item: a(href="#") Accueil
                li.breadcrumb-item: a(href="#") Nos expertises
                li.breadcrumb-item.active Archivage

            .brand
              h1.brand__title(data-aos="fade-left")
                span Notre
                br
                |  Entreprise
              .brand__img: img(src="images/uploads/brands/brand-05.png", alt="")

    section.company-presentation
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .text.text--green.text--split-lg
              h2(data-aos="fade-left") Présentation
              p Quosdam et et lucris vitant accepta quod eruditos et inserunt lucris obscuros mercede et subditicios et infaustos obscuros quoque nomenclatores inutiles lucris lucris accedente et venditare mercede mercede lucris ignobiles eruditos obscuros obscuros talia nomenclatores adsueti lucris enim eruditos nomenclatores quosdam et prandiis eo et et vitant ignobiles quod mercede talia et quosdam et accepta enim mercede subditicios ut et inutiles prandiis vitant nomenclatores et accedente accedente subditicios venditare enim lucris quosdam prandiis haec et subditicios talia quoque nomenclatores quosdam et et quosdam eo enim sobrios et et quoque vitant et talia subditicios accepta haec enim venditare haec prandiis eruditos.
              .text__child
                .company-presentation__img
                  img(src="images/uploads/img-18.jpg", alt="")
                p Quosdam et et lucris vitant accepta quod eruditos et inserunt lucris obscuros mercede et subditicios et infaustos obscuros quoque nomenclatores inutiles lucris lucris accedente et venditare mercede mercede lucris ignobiles eruditos obscuros obscuros talia nomenclatores adsueti lucris enim eruditos nomenclatores quosdam et prandiis eo et et vitant ignobiles quod mercede talia et quosdam et accepta enim mercede subditicios ut et inutiles prandiis vitant nomenclatores et accedente accedente subditicios venditare enim lucris quosdam prandiis haec et subditicios talia quoque nomenclatores quosdam et et quosdam eo enim sobrios et et quoque vitant et talia subditicios accepta haec enim venditare haec prandiis eruditos.

    section.company-info
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .company-info-item-list
              .company-info-item(data-aos="fade-up" data-aos-delay="0")
                img(src="images/stat/check.png", alt="")
                .company-info-item__caption
                  strong +30 ans
                  span d'existance
              .company-info-item(data-aos="fade-up" data-aos-delay="300")
                img(src="images/stat/user.png", alt="")
                .company-info-item__caption
                  strong +500
                  span collaborateurs
              .company-info-item(data-aos="fade-up" data-aos-delay="600")
                img(src="images/stat/briefcase.png", alt="")
                .company-info-item__caption
                  strong +19
                  span métiers dédiés à la gestion de vos contenus
              .company-info-item(data-aos="fade-up" data-aos-delay="900")
                img(src="images/stat/layer-stack.png", alt="")
                .company-info-item__caption
                  strong +1 Million
                  span de documents traités par an

    .company-info-img.img-container: img(src="images/uploads/img-19.jpg", alt="")

    section.company-offer
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .text.text--green.text--split-lg
              h2(data-aos="fade-left") Notre offre pour chaque étape de la vie de vos contenus.
              p Scipio diligas quidvis ut tamen Rupilium alterum ad deinde omnes P Non L quantum possit diligas quem atque primum non ut sustinere possis eius quantum fratrem tribuendum Quod Non Rupilium ille deferre deferre possis omnes tuos possis perducere tribuendum non etiam excellas ut neque P amplissimos.

            .company-offer-item-container
              .company-offer-item(data-aos="zoom-in" data-aos-delay="0")
                img(src="images/stat/production.png", alt="alt")
              .company-offer-item.company-offer-item__arrow(data-aos="zoom-in" data-aos-delay="200")
                img(src="images/stat/production-arrow.png", alt="alt")
              .company-offer-item(data-aos="zoom-in" data-aos-delay="400")
                img(src="images/stat/gestion.png", alt="alt")
              .company-offer-item.company-offer-item__arrow(data-aos="zoom-in" data-aos-delay="600")
                img(src="images/stat/gestion-arrow.png", alt="alt")
              .company-offer-item(data-aos="zoom-in" data-aos-delay="800")
                img(src="images/stat/valorisation.png", alt="alt")
              .company-offer-item.company-offer-item__arrow(data-aos="zoom-in" data-aos-delay="1000")
                img(src="images/stat/valorisation-arrow.png", alt="alt")
              .company-offer-item(data-aos="zoom-in" data-aos-delay="1200")
                img(src="images/stat/archivage.png", alt="alt")
              .company-offer-item.d-md-none(data-aos="zoom-in" data-aos-delay="1400")
                img(src="images/stat/conseil.png", alt="alt")
              .company-offer-item.d-none.d-md-block(data-aos="zoom-in" data-aos-delay="1400")
                img(src="images/stat/conseil-desktop.png", alt="alt")


    section.certification.company-certification
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .text.text--blue.text--split-lg
              h2(data-aos="fade-left") Certifications
              p Auctoritas etiam exspectemus ab aperte vero vero et valeat etiam in postulabit auctoritas exspectemus pareatur libere aperte petamus postulabit monendum petamus acriter vero acriter cunctatio amicorum vero aperte pareatur adhibitae.
            .certification-list
              .certification-item cefri
              .certification-item ISO 9001 : 2015
              .certification-item EN 9100 : 2018
              .certification-item ISO/IEC 27001 : 2013


    section.expertise-sector(style="background-image: url(images/sectors-bg.jpg)")
      .container-fluid
        .row
          .col-md-8.offset-lg-2.col-lg-8
            .text.text--white.text--split-lg
              h2(data-aos="fade-left") Nos
                br
                |  Expertises
              p Eloquentiam flagitem verbis et sed afferat eloquentiam admodum quidem afferat quod nam ego quod si tamen dicit non quidem ego satisfacit locis et et locis locis me dicit quidem non philosophi si inquam non ego offendit inquam non igitur quantum si philosophi re re si falli me philosopho quidem complectitur.
              .expertise-sector__btn
                a.btn.btn-white(href="#", data-aos="fade-right") VOIR NOS expertises
    section.expertise-sector
      .container-fluid
        .row
          .col-md-8.offset-lg-2.col-lg-8
            .text.text--white.text--split-lg
              h2(data-aos="fade-left") Nos
                br
                |  Secteurs
              p Eloquentiam flagitem verbis et sed afferat eloquentiam admodum quidem afferat quod nam ego quod si tamen dicit non quidem ego satisfacit locis et et locis locis me dicit quidem non philosophi si inquam non ego offendit inquam non igitur quantum si philosophi re re si falli me philosopho quidem complectitur.
              .expertise-sector__btn
                a.btn.btn-white(href="#", data-aos="fade-right") VOIR TOUS NOS SECTEURS




