extends layouts/default
block title
  |06-expertise

block root
  main
    section.hero.hero-expertise.parallax-window(data-parallax="scroll", data-image-src="images/hero.jpg")
      include layouts/header
      include layouts/navbar
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item: a(href="#") Accueil
                li.breadcrumb-item.active Contact

            .brand.brand--title-sm
              h1.brand__title(data-aos="fade-left")
                span Titre
                |  Nos expertises.
              .brand__img: img(src="images/uploads/brands/brand-07.png", alt="")


    section.skills.expertise
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .text.text--blue.text--split-lg
              h2(data-aos="fade-left") Nos
                br
                |  Expertises
              p Evidentius ut perspicere Quod et nacti magis earum facile inter cum illa natos amant cum dirimi est scelere et deinde a Quod amantur quibusdam quoddam quantum non ex Quod sumus mihi cum cuius amantur quasi habitura in animadverti cum eis et bestiis ut caritate amicitia quoddam amoris videtur natos quale scelere si magis quidem applicatione quae moribus appareat amantur cum cuius videtur si res quoddam evidentius tempus indigentia cogitatione ut Quod multo detestabili videamur quoddam virtutis quae tempus moribus animadverti cum caritate exstitit sumus quam esset natura aliquod et virtutis moribus quae lumen appareat tempus probitatis dirimi ita facile amicitia.

            .skill-list
              .box.box--green-2.skill-1
                img(src="images/uploads/img-09.png", alt="")
                h3
                  span 01.
                  | CONSEIL & intégration
                  br
                  |  de solution
                i.icon-chevron-right
                a(href="#", title="Conseil & intégration de solution")

              .box.box--green-1.skill-2
                img(src="images/uploads/img-10.png", alt="")
                h3
                  span 02.
                  | INGénierie
                i.icon-chevron-right
                a(href="#", title="ingénierie")

              .box.box--green-3.skill-3
                img(src="images/uploads/img-11.png", alt="")
                h3
                  span 03.
                  | SLI/ASL &
                  br
                  | rédaction technique
                i.icon-chevron-right
                a(href="#", title="SLI/ASL &  rédaction technique")

              .box.box--blue-1.skill-4
                img(src="images/uploads/img-12.png", alt="")
                h3
                  span 04.
                  | Gestion
                  br
                  | documentaire
                i.icon-chevron-right
                a(href="#", title="Gestion documentaire")

              .box.box--green-2.skill-5
                img(src="images/uploads/img-02.jpg", alt="")
                h3
                  span 04.
                  | Archivage
                i.icon-chevron-right
                a(href="#", title="Archivage")

              .box.box--green-4.skill-6
                img(src="images/uploads/img-14.png", alt="")
                h3
                  span 04.
                  | dématerialisation
                i.icon-chevron-right
                a(href="#", title="dématerialisation")

    section.expertise-sector
      .container-fluid
        .row
          .col-md-8.offset-lg-2.col-lg-8
            .text.text--white.text--split-lg
              h2(data-aos="fade-left") Nos
                br
                |  Secteurs  d’Activités
              p Immobilis per solitudines deinde proditus indicio exagitati flagitii praesidia egressus suorum diebus diebus metu per celebritati ad Aboraeque parans exagitati ad ante ante invadere ripas ante.
              .expertise-sector__btn
                a.btn.btn-white(href="#", data-aos="fade-right") VOIR TOUTES NOS EXPERTISES
