extends layouts/default
block title
  |06-expertise page

block root
  main
    section.hero.expertise-page.parallax-window(data-parallax="scroll", data-image-src="images/hero.jpg")
      include layouts/header
      include layouts/navbar
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item: a(href="#") Accueil
                li.breadcrumb-item: a(href="#") Nos expertises
                li.breadcrumb-item.active Archivage

            .brand.brand--title-sm
              h1.brand__title(data-aos="fade-left")
                span 05.
                br
                |  Archivage
              .brand__img: img(src="images/uploads/brands/brand-08.png", alt="")


    section.expertise-page.expertise-page-2
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .text.text--green.text--split-lg
              h2(data-aos="fade-left")  Gestion,
                br
                | traitement et valorisation de fonds d’archives.
              p
               span Tu neque conferebamus nominavi intellegerem quos ea cum nostro Attico Phaedrum sane utrumque sententiae mihi atque quid conferebamus sane Attico frequenter umquam intellegerem frequenter Zenonem audivi inter Attico.

              .text__child
                .text-success.text-uppercase
                  p: strong > IMPLANTATION DE POLITIQUES DE RECORDS MANAGEMENT

                ul
                  li Rationaliser le tri, la conservation et l’exploitation des documents
                  li Maîtrise de la production documentaire
                  li Pérenniser et préserver les informations utiles

                .text-success.text-uppercase
                  p: strong > IMPLANTATION DE POLITIQUES DE RECORDS MANAGEMENT

                ul
                  li Rationaliser le tri, la conservation et l’exploitation des documents
                  li Maîtrise de la production documentaire
                  li Pérenniser et préserver les informations utiles

                .text-success.text-uppercase
                  p: strong > IMPLANTATION DE POLITIQUES DE RECORDS MANAGEMENT

                ul
                  li Rationaliser le tri, la conservation et l’exploitation des documents
                  li Maîtrise de la production documentaire
                  li Pérenniser et préserver les informations utiles


    section.skills.expertise-solution.expertise-solution-2
      .expertise-img.img-container
        img(src="images/uploads/img-17.jpg", alt="")
      .container-fluid
        .row
          .offset-lg-1.col-lg-10.expertise-solution-content
            .text.text--white.text--split-lg
              h2(data-aos="fade-left")  Nos Métiers
                br
                |  Associés
              .text--split__content
                .expertise-solution__link
                  a(href="#") archiviste
                  a(href="#") records manager
            .expertise-solution__btn
              a.btn.btn-success(href="#") postulez

      .text-center
        a.btn.btn-dark(href="#")  retour expertises




