extends layouts/default
block title
  |07-secteurs

block root
  main
    section.hero.hero-expertise.parallax-window(data-parallax="scroll", data-image-src="images/hero.jpg")
      include layouts/header
      include layouts/navbar
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item: a(href="#") Accueil
                li.breadcrumb-item.active Contact

            .brand
              h1.brand__title(data-aos="fade-left")
                span Titre
                |  Nos expertises.
              .brand__img: img(src="images/uploads/brands/brand-07.png", alt="")


    section.skills.expertise
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .text.text--blue.text--split-lg
              h2(data-aos="fade-left")  Nos
                br
                |  Secteurs d'Activités
              p Evidentius ut perspicere Quod et nacti magis earum facile inter cum illa natos amant cum dirimi est scelere et deinde a Quod amantur quibusdam quoddam quantum non ex Quod sumus mihi cum cuius amantur quasi habitura in animadverti cum eis et bestiis ut caritate amicitia quoddam amoris videtur natos quale scelere si magis quidem applicatione quae moribus appareat amantur cum cuius videtur si res quoddam evidentius tempus indigentia cogitatione ut Quod multo detestabili videamur quoddam virtutis quae tempus moribus animadverti cum caritate exstitit sumus quam esset natura aliquod et virtutis moribus quae lumen appareat tempus probitatis dirimi ita facile amicitia.

            .skill-list
              .box.box--blue-3.skill-1
                img(src="images/uploads/img-06.png", alt="")
                h3 aéronautique
                  br
                  |  & spatial
                i.icon-chevron-right
                a(href="#", title="aéronautique & spatiale")

              .box.box--green-1.skill-2
                img(src="images/uploads/img-03.png", alt="")
                h3 défense
                i.icon-chevron-right
                a(href="#", title="défense")

              .box.box--blue-1.skill-3
                img(src="images/uploads/img-04.png", alt="")
                h3 énergie
                i.icon-chevron-right
                a(href="#", title="énergie")

              .box.box--blue-2.skill-4
                img(src="images/uploads/img-05.png", alt="")
                h3 télécom
                i.icon-chevron-right
                a(href="#", title="télécom")

              .box.box--green-2.skill-5
                img(src="images/uploads/img-07.png", alt="")
                h3 CHIMIE
                  br
                  |  & PHARMACIE
                i.icon-chevron-right
                a(href="#", title="chimie & pharmacie")

              .box.box--green-3.skill-6
                img(src="images/uploads/img-08.png", alt="")
                h3 AUTRES SECTEURS
                i.icon-chevron-right
                a(href="#", title="autres secteurs")

    section.expertise-sector(style="background-image: url(images/sectors-bg.jpg)")
      .container-fluid
        .row
          .col-md-8.offset-lg-2.col-lg-8
            .text.text--white.text--split-lg
              h2(data-aos="fade-left")  Nos
                br
                |  Expertises
              p Immobilis per solitudines deinde proditus indicio exagitati flagitii praesidia egressus suorum diebus diebus metu per celebritati ad Aboraeque parans exagitati ad ante ante invadere ripas ante.d
              .expertise-sector__btn
                a.btn.btn-white(href="#", data-aos="fade-right") voir tous nos secteurs
