extends layouts/default
block title
  |07-secteurs page

block root
  main
    section.hero.parallax-window(data-parallax="scroll", data-image-src="images/hero.jpg")
      include layouts/header
      include layouts/navbar
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item: a(href="#") Accueil
                li.breadcrumb-item: a(href="#") Nos secteurs
                li.breadcrumb-item.active Télécom

            .brand.brand--title-thin
              h1.brand__title(data-aos="fade-left")
                span Secteur
                br
                |  Télécom
              .brand__img: img(src="images/uploads/brands/brand-06.png", alt="")


    section.expertise-page
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .text.text--green.text--split-lg
              h2(data-aos="fade-left") Nous sommes partenaires des acteurs majeurs du secteur des télécoms depuis 30 ans.
              p
                strong Les opérateurs mobiles doivent faire face à une explosion de la demande en haut débit pour des applications digitales conviviales, sans perdre la maîtrise de leurs coûts d’investissements.
                br
                strong  La gestion des antennes 4G/5G est devenue plus que jamais critique et doit s’appuyer sur l’optimisation des ressources.
                br
                strong  Pour cela, Eowin, forte de 30 ans d’expérience du domaine, apporte une gamme d’outils et de services de gestion optimum, en mettant à disposition une information 2D/3D reflétant exactement les informations techniques sur sites.

              .text__child
                p Toute entreprise, de la TPE à la multinationale, doit désormais intégrer ces technologies numériques qui renforcent la productivité et l’efficacité des communications. Les solutions à envisager couvrent la téléphonie classique, la messagerie instantanée, la vidéo et le partage de fichiers. Pour décharger les équipes d’IT, l’automatisation des processus des réseaux informatiques, la virtualisation et la sécurisation des données dans le cloud se développent de manière exponentielle.
                p Depuis les années 1990, nous accompagnons un acteur majeur de ce secteur. Nous créons, mettons à jour et gérons les fichiers de documentation structurée des documents destinés aux installateurs et administrateurs de réseaux de télécommunications.

    section.skills.expertise-solution
      .expertise-img.img-container
        img(src="images/expertise-page-solution-desktop.jpg", alt="")
      .container-fluid
        .row
          .offset-lg-1.col-lg-10.expertise-solution-content
            .text.text--white.text--split-lg
              h2(data-aos="fade-left") Nos solutions pour le secteur des Télécom
              .text--split__content
                .text-success.text-uppercase
                  p
                    strong Nos équipes, pluridisciplinaires disposent d’une solide expérience des antennes 4G/5G, avec :
                ul
                  li Constitution et mise à jour de dossiers de définition détaillant les projets d’implantation d’infrastructures antennaires, en phases APS, APD, DOE. Ces dossiers peuvent être constitués de plans de masse, d’élévation, de toits-terrasses et de sécurité,
                  li Élaboration de la documentation technique etadministrative associée : dossiers techniques bailleur (DTM), dossier d’Information Mairie (DIM), déclarations préalables (DP), dossiers de commission (COMSIS),
                  li Relevés de site : prise de vue 360°, géolocalisation, constitution de maquettes 2D-3D conformes à l’existant,
                  li Création et maintenance des bases de données d’informations : caractéristiques générales des équipements, supports de consultation.
                  li Utilisation de réalité virtuelle ou augmentée pour optimiser la gestion

            .text.text--white.text--split-lg
              h2(data-aos="fade-left") Solutions pour équipementiers en communications d’entreprise
              .text--split__content
                .text-success.text-uppercase
                  p
                    strong NOS EXPERTS :
                .text-success.text-uppercase
                  p
                    strong Rédigent en anglais, à partir de :
                ul
                  li Spécifications techniques,
                  li Tests en labo (serveurs, machines virtuelles, postes IP, TDM, DECT)
                  li Tests en labo (serveurs, machines virtuelles, postes IP, TDM, DECT)
                  li XML DITA, OLH, WebHelp, Word.
                .text-success.text-uppercase
                  p
                    strong Extraient les fichiers à traduire,
                    br
                    | créent les copies d’écran localisées (toutes langues), génèrent les publications :
                ul
                  li Multi-formats, personnalisables de manière automatisée (logos, pages de garde et noms de produits),
                  li De plusieurs milliers de pages par produit.
            .expertise-solution__btn
              a.btn.btn-success(href="#", data-aos="fade-left") nous contacter

      .text-center
        a.btn.btn-dark(href="#")  retour secteurs




