extends layouts/default
block title
  |01-home

block root
  main
    section.hero.parallax-window(data-parallax="scroll", data-image-src="images/hero.jpg")
      include layouts/header
      include layouts/navbar
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item.active  Accueil

            h1.sr-only EOWIN
            .swiper-container.brand-home-slider
              .swiper-wrapper
                .swiper-slide
                  .brand
                    h2.brand__title(data-aos="fade-left")
                      span Expert
                      |  du traitement de vos données d’aujourd’hui et de demain
                    .brand__img(data-aos="fade-right"): img(src="images/uploads/brands/brand-01.png", alt="")
                .swiper-slide
                  .brand
                    h2.brand__title(data-aos="fade-left")
                      span Leader
                      |  dans  la gestion de vos contenus depuis 30 ans
                    .brand__img(data-aos="fade-right"): img(src="images/uploads/brands/brand-07.png", alt="")
                .swiper-slide
                  .brand
                    h2.brand__title(data-aos="fade-left")
                      span Des solutions innovantes
                      |  pour la gestion de votre information
                    .brand__img(data-aos="fade-right"): img(src="images/uploads/brands/brand-08.png", alt="")
              .swiper-pagination



    section.about-us
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .text.text--green.text--split-lg
              h2(data-aos="fade-left") Qui
                br.d-none.d-lg-block
                | sommes
                br.d-none.d-lg-block
                |  nous ?
              p Quosdam et et lucris vitant accepta quod eruditos et inserunt lucris obscuros mercede et subditicios et infaustos obscuros quoque nomenclatores inutiles lucris lucris accedente et venditare mercede mercede lucris ignobiles eruditos obscuros obscuros talia nomenclatores adsueti lucris enim eruditos nomenclatores quosdam et prandiis eo et et vitant ignobiles quod mercede talia et quosdam et accepta enim mercede subditicios ut et inutiles prandiis vitant nomenclatores et accedente accedente subditicios venditare enim lucris quosdam prandiis haec et subditicios talia quoque nomenclatores quosdam et et quosdam eo enim sobrios et et quoque vitant et talia subditicios accepta haec enim venditare haec prandiis eruditos.

            .text-right
              a.btn.btn-success(href="#", data-aos="fade-right")  en savoir +

    section.skills
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .text.text--white.text--split-lg
              h2(data-aos="fade-left") Nos
                br
                |  Expertises
              p Auctoritas etiam exspectemus ab aperte vero vero et valeat etiam in postulabit auctoritas exspectemus pareatur libere aperte petamus postulabit monendum petamus acriter vero acriter cunctatio amicorum vero aperte pareatur adhibitae.

            .skill-list
              .box.box--green-2.skill-1
                img(src="images/uploads/img-09.png", alt="")
                h3
                  span 01.
                  | CONSEIL & intégration
                  br
                  |  de solution
                i.icon-chevron-right
                a(href="#", title="Conseil & intégration de solution")

              .box.box--green-1.skill-2
                img(src="images/uploads/img-10.png", alt="")
                h3
                  span 02.
                  | INGénierie
                i.icon-chevron-right
                a(href="#", title="ingénierie")

              .box.box--green-3.skill-3
                img(src="images/uploads/img-11.png", alt="")
                h3
                  span 03.
                  | SLI/ASL &
                  br
                  | rédaction technique
                i.icon-chevron-right
                a(href="#", title="SLI/ASL &  rédaction technique")

              .box.box--blue-1.skill-4
                img(src="images/uploads/img-12.png", alt="")
                h3
                  span 04.
                  | Gestion
                  br
                  | documentaire
                i.icon-chevron-right
                a(href="#", title="Gestion documentaire")

              .box.box--green-2.skill-5
                img(src="images/uploads/img-02.jpg", alt="")
                h3
                  span 04.
                  | Archivage
                i.icon-chevron-right
                a(href="#", title="Archivage")

              .box.box--green-4.skill-6
                img(src="images/uploads/img-14.png", alt="")
                h3
                  span 04.
                  | dématerialisation
                i.icon-chevron-right
                a(href="#", title="dématerialisation")

              a.btn.btn-primary.skill-7(href="#", title="voir nos expertises", data-aos="fade-right") voir nos expertises

    section.certification
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .text.text--green.text--split-lg
              h2(data-aos="fade-left") Certifications
              p Auctoritas etiam exspectemus ab aperte vero vero et valeat etiam in postulabit auctoritas exspectemus pareatur libere aperte petamus postulabit monendum petamus acriter vero acriter cunctatio amicorum vero aperte pareatur adhibitae.
            .certification-list
              .certification-item cefri
              .certification-item ISO 9001 : 2015
              .certification-item EN 9100 : 2018
              .certification-item ISO/IEC 27001 : 2013
    section.actor
      .container-fluid
        .row
          .offset-lg-2.col-lg-8
            .text.text--blue.text--split-lg
              h2(data-aos="fade-left") Nos
                br
                |  Secteurs
              p Eloquentiam flagitem verbis et sed afferat eloquentiam admodum quidem afferat quod nam ego quod si tamen dicit non quidem ego satisfacit locis et et locis locis me dicit quidem non philosophi si inquam non ego offendit inquam non igitur quantum si philosophi re re si falli me philosopho quidem complectitur.

            .actor-list
              .box.box--green-1(data-aos="fade-left")
                img(src="images/uploads/img-03.png", alt="")
                h3 défense
                i.icon-chevron-right
                a(href="#", title="défense")

              .box.box--blue-1(data-aos="fade-right")
                img(src="images/uploads/img-04.png", alt="")
                h3 énergie
                i.icon-chevron-right
                a(href="#", title="énergie")

              .box.box--blue-2(data-aos="fade-left")
                img(src="images/uploads/img-05.png", alt="")
                h3 télécom
                i.icon-chevron-right
                a(href="#", title="télécom")

              .box.box--blue-3(data-aos="fade-right")
                img(src="images/uploads/img-06.png", alt="")
                h3 aéronautique
                  br
                  |  & spatial
                i.icon-chevron-right
                a(href="#", title="aéronautique & spatiale")

              .box.box--green-2(data-aos="fade-left")
                img(src="images/uploads/img-07.png", alt="")
                h3 CHIMIE
                  br
                  |  & PHARMACIE
                i.icon-chevron-right
                a(href="#", title="chimie & pharmacie")

              .box.box--green-3(data-aos="fade-right")
                img(src="images/uploads/img-08.png", alt="")
                h3 AUTRES SECTEURS
                i.icon-chevron-right
                a(href="#", title="autres secteurs")

            .text-right
              a.btn.btn-primary(href="#", data-aos="fade-right")  VOIR NOS SECTEURS


    section.actu
      .container-fluid
        .row
          .col-md-6.offset-lg-2.col-lg-4
            .text.text--blue
              h2(data-aos="fade-left") Dernières
                br
                |  Actus
              .actu-slider-container.mb-4.d-md-none
                .swiper-container.actu-slider
                  .swiper-wrapper
                    .swiper-slide.img-container
                      img(src="images/uploads/img-01.jpg", alt="")
                    .swiper-slide.img-container
                      img(src="images/uploads/img-02.jpg", alt="")
                  .swiper-button-prev
                    i.icon-chevron-left
                  .swiper-button-next
                    i.icon-chevron-right

              span 21.02.2021
              strong TITRE
              p Bonos magnificentia Philos Philos virtutem Galos quidam nec qui reperiuntur eos magnificentia omnino omittamus Paulos.
              a.btn.btn-dark(href="#", data-aos="fade-left") VOIR LES ACTUS
          .col-md-6.col-lg-5.col-xl-4

            .actu-slider-container.d-none.d-md-block
              //- Slider main container
              .swiper-container.actu-slider
                //- Additional required wrapper
                .swiper-wrapper
                  .swiper-slide.img-container
                    img(src="images/uploads/img-01.jpg", alt="")
                  .swiper-slide.img-container
                    img(src="images/uploads/img-02.jpg", alt="")
                .swiper-button-prev
                  i.icon-chevron-left
                .swiper-button-next
                  i.icon-chevron-right


    section.carrer-contact
      .carrer(style="background-image: url(images/uploads/img-01.jpg)")
        .carrer-content
          .text.text--green
            h2(data-aos="fade-left") Carrières
            p Reperiuntur numeremus Galos Catones Catones ex nostri vita omittamus est consuetudine Catones magnificentia vita eam autem vita reperiuntur qui numeremus Galos Philos interpretemur Paulos vitae sermonisque Catones interpretemur metiamur est.
            .join
              span Rejoignez-nous !
              a.btn.btn-success(href="#" data-aos="fade-left") postulez
      .contact
        .contact-content
          .text.text--white
            h2(data-aos="fade-left") Contact
            p Reperiuntur numeremus Galos Catones Catones ex nostri vita omittamus est consuetudine Catones magnificentia. Catones ex nostri vita omittamus est consuetudine Catones.
            a.btn.btn-secondary(href="#" data-aos="fade-left") contactez-nous

    section.trust
      .container-fluid
        .row
          .offset-lg-2.col-lg-10
            .text.text--green
              h2(data-aos="fade-left") Ils nous
                br
                | font confiance

        .row
          .offset-lg-1.col-lg-10
            .trust-list
              each val in ['airbus', 'alcatel-lucent', 'alstom', 'arianegroup', 'bouygues', 'cea', 'edf', 'framatome', 'rf', 'navalgroup', 'orano', 'safran', 'sanofi', 'siemens', 'socarenam', 'spie', 'tdf', 'thales', 'total', 'vinci']
                .trust-list__item
                  img(src="images/clients/"+val+".png", alt=val)


