.box {
  min-height: 180px;
  position: relative;
  @include img-container();
  display: flex;
  align-items: center;
  padding: 25px;
  color: $white;
  &:hover {
    img {
      opacity: 1;
    }
  }
  h3 {
    font-family: $Poppins-Bold;
    font-size: 1.6rem;
    line-height: 1.66rem;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    word-break: break-word;
    span {
      display: block;
      text-transform: uppercase;
      font-family: $Nunito-Light;
      margin-bottom: 8px;
    }
  }
  i {
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-size: 2rem;
  }
  img {
    opacity: 0.5;
    transition: $transition all ease-in-out;
  }

  a::before {
    content: "";
    @include pos-abs-full();
    z-index: 3;
  }

  &.box--green-1 {
    background-color: $green-4;
  }
  &.box--green-2 {
    background-color: $green-5;
  }
  &.box--green-3 {
    background-color: $green-1;
  }
  &.box--green-4 {
    background-color: $green-7;
  }
  &.box--blue-1 {
    background-color: $blue-6;
  }
  &.box--blue-2 {
    background-color: $blue-2;
  }
  &.box--blue-3 {
    background-color: $blue-7;
  }

  @include media-breakpoint-up(md) {
    min-height: 270px;
    padding: 30px;
    h3 {
      font-size: 3rem;
      line-height: 3rem;
    }
    i {
      font-size: 3rem;
    }
  }

  @include media-breakpoint-up(xl) {
    padding-left: 55px;
    min-height: 325px;
    h3 {
      font-size: 2.4rem;
      line-height: 2.4rem;
    }
    i {
      bottom: 35px;
    }
  }
}
