.brand {
  padding: 40px 0 20px;
  .brand__title {
    color: $white;
    margin-bottom: 50px;
    span {
      color: $green-1;
    }
    small {
      display: block;
      margin-top: 10px;
      font-family: $Poppins-Regular;
      font-size: 1.8rem;
      line-height: normal;
      font-weight: normal;
      max-width: 250px;
    }
  }
  .brand__img {
    text-align: center;
    img {
      max-height: 100%;
    }
  }
  &.brand--title-thin {
    .brand__title {
      span {
        font-family: $Poppins-Thin;
        // display: block;
      }
    }

  }
  @include media-breakpoint-up(md) {
    display: flex;
    &.brand--title-sm {
      .brand__title {
        margin-top: 75px;
      }
    }
    .brand__title,
    .brand__img {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .brand__title {
      padding-top: 20px;
      small {
        display: none;
        margin-top: 20px;
        font-size: 1.5rem;
        line-height: 1.9rem;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    padding-top: 50px;
    &.brand--title-sm {
      .brand__title {
        margin-top: 125px;
      }
    }
    .brand__title {
      flex: 0 0 35%;
      max-width: 35%;
      margin-bottom: 0;
      small {
        display: block;
      }
    }
    .brand__img {
      flex: 0 0 65%;
      max-width: 65%;
      height: 400px;
    }
  }
}

