.btn {
  text-transform: uppercase;
  min-width: 190px;
}

.btn-square {
  padding: 4px 5px;
  color: $blue-2;
  background-color: $white;
  line-height: 1;
  min-width: 26px;
  font-size: 1.2rem;
  text-align: center;
  &:hover {
    background-color: rgba($white, .7);
  }
}
