.card {
  border: 1px solid $blue-3;
  position: relative;
  transition: $transition all ease-in-out;
  margin-bottom: 1px;
  &:hover {
    border-color: $green-1;
  }
  .card__img {
    height: 250px;
    @include img-container();
  }
  .card__content {
    padding: 30px;
    span {
      display: block;
      font-family: $Nunito-ExtraLight;
      font-size: 1.8rem;
      line-height: 1.9rem;
      margin-bottom: 15px;
    }
    h4 {
      font-size: 2.1rem;
    }
    p {
      font-size: 1.6rem;
      margin-bottom: 25px;
    }
  }
  .card__btn {
    text-align: center;
    .btn {
      min-width: auto;
      &::before {
        content: "";
        @include pos-abs-full();
      }
    }
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 30px;
    .card__img {
      height: 190px;
    }
    .card__content {
      padding-top: 15px;
    }

  }
}
