$custom-check-color: $blue-3 !default;
$custom-check-border-color: $blue-3 !default;
$custom-check-border-radius: 0 !default;
$custom-check-bg: $blue-3 !default;
$custom-check-bg--no-label: $blue-3 !default;
$custom-check-size: 20px;

.custom-check {
  display: inline-block;
  label {
    margin-bottom: 0;
  }

  input[type=checkbox],
  input[type=radio] {
    display: none;

    & ~ label {
      display: inline-block;
      padding-left: 4rem;
      position: relative;
      &:hover {
        cursor: pointer;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: .2rem;
        height: $custom-check-size;
        width: $custom-check-size;
        border: 1px solid $custom-check-border-color;
        border-radius: $custom-check-border-radius;
      }
      &::after {
        content: "";
        font-size: 1.5rem;
        line-height: 1.3rem;
        transition: $transition all ease-in-out;
        border: 0;
        color: $custom-check-color;
      }
    }

    &:checked ~ label::after {
      background-color: $custom-check-bg;

    }
  }

  &.custom-check--no-label {
    width: $custom-check-size;
    input[type=checkbox],
    input[type=radio] {
      & ~ label {
        padding-left: 0;
        &::before,
        &::after {
          top: -16px;
          left: 0;
        }
      }
      &:checked ~ label::after {
        background-color: $custom-check-bg--no-label;
      }
    }
  }
}
