input[type=text],
input[type=email],
input[type=number],
textarea {
  width: 100%;
  display: block;
  padding: 10px 20px;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: $blue-3;
  @include input-placeholder-color($blue-3);
  border: 1px solid $blue-3;
  &:focus,
  &:active {
    outline: 0;
    border-color: $blue-9;
  }
}

textarea {
  min-height: 315px;
}

@include media-breakpoint-up(md) {
  input[type=text],
  input[type=email],
  input[type=number],
  textarea {
    font-size: 1.3rem;
    color: $blue-3;

    padding: 15px 20px;
  }
  textarea {
    min-height: 190px;
  }
}
