
//swiper
.swiper-button-prev,
.swiper-button-next {
  transition: $transition all ease-in-out;
  &:focus, &:active {
    outline: 0;
  }
  &::after {
    display: none;
  }
}

.swiper-pagination-bullet {
  background: $white;
  opacity: 1;
  width: 1rem;
  height: 1rem;
}
.swiper-pagination-bullet-active {
  background-color: $green-1;
}

//breadcrumb
.breadcrumb-item {
  &::before {
    content: $breadcrumb-divider;
    font-family: "eowin";
    font-size: .8rem;
    padding-right: .5rem;
    color: $breadcrumb-divider-color;
    margin-right: 0;
  }
  & + .breadcrumb-item::before {
    margin-top: 3px;
  }
  &.active {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      left: 17px;
      height: 1px;
      background-color: $breadcrumb-divider-color;
    }
  }
  a {
    color: $breadcrumb-active-color;
    &:hover {
      color: $green-1;
    }
  }
}
