@mixin fixSwiper() {
  .swiper-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }
  .swiper-slide {
    width: auto;
    height: auto;
  }
  .swiper-pagination {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .swiper-mobile-md {
    @include fixSwiper();
  }
}

@include media-breakpoint-up(lg) {
  .swiper-mobile-lg {
    @include fixSwiper();
  }
}

@include media-breakpoint-up(xl) {
  .swiper-mobile-xl {
    @include fixSwiper();
  }
}
