.text {
  padding-left: 60px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
    height: 6px;
  }

  h2 {
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 2rem;
    span {
      font-family: $Poppins-SemiBold;
    }
  }

  ul {
    margin-bottom: 35px;
  }


  .text--split__content,
  .text__child {
    ul {
      li {
        position: relative;
        padding-left: 10px;
        font-size: 1.6rem;
        &::before {
          content: "•";
          position: absolute;
          left: 0;
          font-size: 1.6rem;
          // line-height: 1.2;
        }
      }
    }
  }
  .text__child {
    width: 100%;
    strong {
      font-size: 1.8rem;
    }
  }

  .text--split__content {
    ul {
      li {
        margin-bottom: 15px;
      }
    }
  }

  &.text--green {
    h2 {
      color: $green-1;
      &::before {
        background-color: $green-1;
      }
    }
    &::before {
      background-color: $green-1;
    }
  }
  &.text--white {
    h2 {
      color: $white;
    }
    &::before {
      background-color: $white;
    }
  }
  &.text--blue {
    h2 {
      color: $blue-3;
    }
    &::before {
      background-color: $blue-3;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-left: 90px;
    p {
      margin-bottom: 20px;
      span {
        font-family: $Poppins-Regular;
      }
    }
    &::before {
      width: 60px;
      height: 10px;
    }
    &.text--split-lg {
      display: flex;
      flex-wrap: wrap;
      h2 {
        flex: 0 0 40%;
        max-width: 40%;
        & + p {
          flex: 1;
          padding-left: 15px;
        }
      }
      .text--split__content {
        flex: 1;
        padding-left: 15px;
      }
    }

    .text--split__content,
    .text__child {
      ul {
        li {
          font-size: 1.5rem;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &.text--split-lg {
      h2 {
        flex: 0 0 35%;
        max-width: 35%;
      }
    }
  }
}
