.img-container {
  @include img-container();
}

.join {
  span {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-family: $Poppins-Light;
  }
}

@include media-breakpoint-up(md) {
  .subtitle {
    padding-left: 90px;
    &::before {
      width: 60px;
      height: 10px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .breadcrumb {
    padding-top: 50px;
  }
}
