html {
  min-height: 100%;
  height: 100%;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  body {
    line-height: $line-height-base;
    font-size: $font-size-base;
    color: $body-color;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    main {
      flex-shrink: 0;
      overflow: hidden;
    }
    footer {
      margin-top: auto;
    }
  }
}

h1,
.brand__title {
  font-family: $font-family-title;
  font-size: 4.1rem;
  line-height: 4.3rem;
}

h2, h3, h4 {
  font-family: $font-family-subtitle;
  font-weight: 300;
}

h2 {
  font-size: 2.9rem;
  line-height: 3rem;
  margin-bottom: 15px;
}

a {
  transition: $transition all ease-in-out;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $green-1;
  }
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

b,
strong {
  font-family: $Poppins-Bold;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 1.4rem;
  line-height: 2.2rem;
}


@include media-breakpoint-up(md) {
  h1,
  .brand__title {
    font-size: 4rem;
    line-height: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
}

@include media-breakpoint-up(lg) {
  h1,
  .brand__title {
    line-height: 4.2rem;
  }
}

@include media-breakpoint-up(xl) {}

