$font-path: "../fonts";

$fonts: (
	'Poppins-Thin': (
    'family': 'Poppins-Thin',
    'style': normal,
    'weight': 100
  ),
	'Poppins-Light': (
    'family': 'Poppins-Light',
    'style': normal,
    'weight': 300
  ),
	'Poppins-Regular': (
    'family': 'Poppins-Regular',
    'style': normal,
    'weight': normal
  ),
	'Poppins-Medium': (
    'family': 'Poppins-Medium',
    'style': normal,
    'weight': 500
  ),
	'Poppins-SemiBold': (
    'family': 'Poppins-SemiBold',
    'style': normal,
    'weight': 600
  ),
	'Poppins-Bold': (
    'family': 'Poppins-Bold',
    'style': normal,
    'weight': bold
  ),
	'Nunito-ExtraLight': (
    'family': 'Nunito-ExtraLight',
    'style': normal,
    'weight': 200
  ),
	'Nunito-Light': (
    'family': 'Nunito-Light',
    'style': normal,
    'weight': 300
  ),
	'Nunito-Regular': (
    'family': 'Nunito-Regular',
    'style': normal,
    'weight': normal
  ),
	'Montserrat-BoldItalic': (
    'family': 'Montserrat-BoldItalic',
    'style': italic,
    'weight': bold
  )
);


@each $file-name, $font in $fonts {
  @font-face {
    font-family: map-get($font, 'family');
    src:  url('#{$font-path}/#{$file-name}.woff2') format('woff2'),
          url('#{$font-path}/#{$file-name}.woff') format('woff');
    font-style: map-get($font, 'style');
    font-weight: map-get($font, 'weight');
    font-display: swap;
  }
}


@font-face {
  font-family: "eowin";
  src:
    url('#{$font-path}/eowin.ttf?jc2i08') format('truetype'),
    url('#{$font-path}/eowin.woff?jc2i08') format('woff'),
    url('#{$font-path}/eowin.svg?jc2i08#eowin') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "eowin" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-right:before {
  content: "\e902";
}
.icon-loupe:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
