footer {
  background-color: $blue-1;
  padding: 50px 0 40px;
  letter-spacing: .016em;
  a {
    font-family: $Poppins-Light;
  }
  .footer__logo {
    margin-bottom: 25px;
    img {
      height: 65px;
    }
  }
  .footer-right {
    .row {
      height: 100%;
    }
  }
  .footer__link {
    a {
      display: inline-block;
      color: $white;
      padding: 3px 0;
      &:hover {
        color: $green-1;
      }
    }
  }
  .footer__social {
    text-align: right;
    margin-bottom: 30px;
    .btn-square {
      margin-left: 7px;
      min-width: 40px;
      padding: 10px;
      font-size: 2rem;
    }
  }
  .footer-contact-policy {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    .footer__contact {
      span {
        display: block;
        font-family: $Poppins-Light;
        font-size: 1.6rem;
        line-height: 1.6rem;
        color: $green-2;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
      .btn {
        min-width: 200px;
        color: $white;
      }
    }
    .footer__policy {
      a {
        font-size: 1.2rem;
        line-height: 2.5rem;
        display: inline-block;
        padding-left: 8px;
        margin-left: 5px;
        &:last-child {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: $green-3;
            margin-top: -2px;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding: 30px $grid-gutter-width/2;
    .footer__logo {
      margin-top: 45px;
      img {
        height: 75px;
      }
    }

  .footer__social {
    margin-top: 20px;
    .btn-square {
      min-width: 25px;
      padding: 5px 6px;
      font-size: 1.3rem;
    }
  }
  .footer-contact-policy {
      flex-direction: row;
    }
    .footer__contact {
      margin-bottom: 10px;
      .footer__contact {
        span {
          font-size: 1.8rem;
          line-height: 1.9rem;
        }
      }
    }
    .footer__policy {
      margin-bottom: 10px;
    }
  }
}
