.header {
  padding: 10px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  transition: $transition all ease-in-out;
  &.scrolled {
    background-image: linear-gradient(to bottom, $blue-9, $blue-4);
    // background-color: rgba($green-1, .3);
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .header-right {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
    }
    .header__brand {
      img {
        width: 75px;
      }
    }
    .header__slogan {
      font-family: $Montserrat-BoldItalic;
      font-size: 1.4rem;
      color: $green-1;
      text-transform: uppercase;
      line-height: 1;
    }
    .header__content {
      width: 100px;
      margin-bottom: 10px;
      display: grid;
      justify-content: end;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "lang lang"
        "form toggler"
      ;
      form,
      .toggler,
      .header__lang {
        justify-self: end;
        align-self: end;
      }

      form {
        grid-area: form;
        width: 100%;
        i {
          color: $white;
          font-size: 3rem;
        }
        input[type=text] {
          display: none;
          background-color: transparent;
          border: 0;
          border-bottom: 1px solid $green-1;
          height: 30px;
          color: $white;
          padding: 0;
          &:focus,
          &:active {
            outline: 0;
          }
        }
      }
      .toggler {
        grid-area: toggler;
        .hamburger-box {
          top: 3px;
        }
      }
      .header__lang {
        grid-area: lang;
        display: flex;
        margin-bottom: 10px;
        a {
          font-family: $Poppins-Light;
          font-size: 1.4rem;
          display: inline-block;
          padding-left: 5px;
          line-height: 1;
          color: $white;
          &:last-child {
            border-left: 1px solid $green-1;
            margin-left: 5px;
          }
          &.active,
          &:hover {
            color: $green-1
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding: 26px 0;
    .header-inner {
      .header-right {
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
      }
      .header__brand {
        img {
          width: 125px;
        }
      }
      .header__slogan {
        font-size: 1.6rem;
        letter-spacing: .016em;
        padding-left: 7%;
      }
      .header__content {
        margin-bottom: 0;
        width: 110px;
        .header__lang {
          margin-bottom: 25px;
          a {
            font-size: 1.7rem;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    background-image: none;
    position: static;
    &.scrolled {
      background-image: none;
      background-color: transparent
    }
    .header-inner {
      .header__content {
        width: auto;
        grid-template-areas:
          "lang lang"
          "form form"
        ;
        form {
          display: flex;
          align-items: flex-end;
          i {
            margin-right: 10px;
            font-size: 1.5rem;
          }
          input[type=text] {
            display: block;
          }
        }
        .header__lang {
          margin-left: 40px;
          a {
            font-size: 1.4rem;
          }
        }
      }
      .toggler {
        display: none;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .header-inner {
      .header__brand {
        img {
          width: 100%;
        }
      }
      .header__slogan {
        padding-left: 10%;
      }
      .header__content {
        display: flex;
        align-items: flex-end;
        .header__lang {
          margin-bottom: 0;
          margin-top: 15px;
        }
      }
    }
  }
}
