.hero {
  padding-top: 120px;
  padding-bottom: 40px;
  // background-image: url("../images/hero.jpg");
  @include bg-img-no-url();
  background-color: transparent;
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    padding-bottom: 45px;
  }
}
