@mixin pos-abs-full() {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin pos-abs-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin img-container() {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
  }
  .img-fluid, img {
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
}

@mixin bg-img($bg-img-path, $bg-color-1: $black, $bg-color-2: $black, $bg-opacity: 1) {
  background-image: linear-gradient(
    to bottom,
    #{fade-out($bg-color-1, $bg-opacity)} 0%,
    #{fade-out($bg-color-2, $bg-opacity)} 100%
  ),url($bg-img-path);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin bg-img-no-url() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin input-placeholder-color($color) {
  &::placeholder {
    color: $color;
    opacity: 1
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-ms-input-placeholder {
    color: $color;
  }
}
