.navbar {
  @include media-breakpoint-down(md) {
    .navbar-nav {
      background-color: $green-1;
      position: fixed;
      padding: 30px;
      top: 120px;
      left: 0;
      width: 100%;
      z-index: 1001;
      transition: $transition all ease-in-out;
      transform: translateY(calc(-100% - 120px));
      max-height: calc(100vh - 120px);
      overflow: auto;
      &.show {
        transform: translateY(0);
      }
    }
    form {
      border-bottom: 3px solid $blue-3;
      display: flex;
      margin-bottom: 50px;

      input[type=text] {
        background-color: transparent;
        border: 0;
        color: $blue-3;
        font-family: $Poppins-Bold;
        font-size: 2rem;
        width: 100%;
        @include input-placeholder-color($blue-3);
        &:focus,
        &:active {
          outline: 0;
        }
      }
      .btn-search {
        min-width: auto;
        color: $white;
        background-color: transparent;
        padding-left: 10px;
        padding-right: 0;
        font-size: 2rem;
        &:focus,
        &:active {
          outline: 0;
          box-shadow: none;
        }
      }
    }
    .navbar-menu {
      li {
        border-bottom: 1px solid $white;
        .nav-item {
          display: block;
          color: $blue-3;
          font-family: $Poppins-Light;
          font-size: 2rem;
          padding: 10px 0;
        }
        &.has-submenu .nav-item {
          position: relative;
          &::after {
            content: "+";
            font-family: $Poppins-Medium;
            color: $white;
            position: absolute;
            right: 0;
            top: 2px;
            font-size: 3rem;
          }
          &:focus,
          &:active {
            &::after {
              content: "-";
            }
            & + .submenu {
              height: 100%;
            }
          }
        }
        .submenu {
          overflow: hidden;
          height: 0;
          transition: $transition height ease-in-out;
          li {
            border-bottom: 0;
            position: relative;
            padding-left: 40px;
            &::before {
              content: "";
              position: absolute;
              left: 15px;
              top: 13px;
              border: 3px solid $blue-3;
            }
            a {
              display: block;
              font-size: 1.6rem;
              font-family: $Poppins-Light;
              padding: 5px 0;
              color: $blue-3;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    form {
      .btn-search,
      input[type=text] {
        font-size: 3.1rem;
      }
    }
    .navbar-menu {
      li {
        .nav-item {
          font-size: 3.1rem;
          padding: 10px 0;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    width: 100%;
    left: 0;
    height: 40px;
    z-index: 1000;
    transition: $transition all ease-in-out;
    .navbar-nav  form { display: none; }

    .navbar-menu {
      display: flex;
      justify-content: space-between;
      li {
        .nav-item {
          font-size: 1.4rem;
          color: $white;
          position: relative;
          padding-bottom: 9px;
          display: inline-block;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 7px;
            width: 100%;
            height: 2px;
            background-color: transparent;
            transition: $transition all ease-in-out;
          }
        }
        &.active,
        &:hover:not(.has-submenu) {
          .nav-item {
            color: $green-1;
            &::before {
              background-color: $green-1;
            }
          }
        }
        &.has-submenu {
          .nav-item {
            &::after {
              content: "\e900";
              font-family: "eowin";
              position: absolute;
              left: 50%;
              bottom: -12px;
              transform: translateX(-50%);
              opacity: 0;
              font-size: 1.5rem;
              color: $green-1;
              transition: $transition all ease-in-out;
            }
          }
          &:hover {
            a {
              font-family: $Poppins-Medium;
            }
            .nav-item {
              &::after {
                opacity: 1;
                bottom: -17px;
              }
            }
          }
        }
        &:hover .nav-item {
          & + .submenu {
            opacity: 1;
            visibility: visible;
          }
        }

        .submenu {
          position: absolute;
          padding-top: 60px;
          transition: $transition all ease-in-out;
          opacity: 0;
          visibility: hidden;
          li {
            a {
              display: block;
              font-size: 2rem;
              padding: 10px 0;
              color: $white;
              &:hover {
                font-family: $Poppins-Medium;
                color: $green-1;
              }
            }
          }
        }
      }
    }
  }
}
