// .hero.expertise-page {}

.expertise-page {
  padding: 35px 0;
  &.expertise-page-2 {
    .text {
      .text__child {
        ul {
          padding-left: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
.expertise-img {
  height: 305px;
}
.expertise-solution {
  padding-top: 0;
  padding-bottom: 55px;
  &.skills {
    &::before,
    &::after {
      display: none;
    }
    background-image: url("../images/expertisebg-mobile.jpg");
  }
  .expertise-solution-content {
    margin-bottom: 55px;
    padding-top: 40px;
    padding-bottom: 55px;
    color: $white;
    background-color: $blue-3;
    .text {
      margin-bottom: 30px;
      .text--split__content {
        p {
          margin-bottom: 15px;
        }
      }
    }
  }
  .expertise-solution__btn {
    text-align: center;
    .btn {
      color: $white;
    }
  }
  &.expertise-solution-2 {
    .expertise-img {
      height: 430px;
    }
    .expertise-solution__link {
      margin-top: 30px;
      a {
        display: block;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-decoration: underline;
        color: $white;
        font-size: 1.8rem;
        line-height: 2rem;
        position: relative;
        &::before {
          content: ">";
          display: inline-block;
          margin-right: 5px;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .expertise-page {
    padding: 45px 0;
  }
  .expertise-img {
    height: 285px;
  }
  .expertise-solution {
    &.skills {
      background-image: url("../images/expertisebg-tab.jpg");
    }

    &.expertise-solution-2 {
      .expertise-img {
        height: 290px;
      }
      .expertise-solution__link {
        margin-top: 90px;
        a {
          font-size: 1.7rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .expertise-page {
    padding: 45px 0 90px;
    &.expertise-page-2 {
      padding-bottom: 45px;
    }
    .expertise-solution__link {
      a {
        font-size: 1.8rem;
      }
    }
  }
  .expertise-img {
    height: 425px;
  }
  .expertise-solution {
    padding-top: 0;
    padding-bottom: 57px;
    &.skills {
      background-image: url("../images/expertisebg.jpg");
      &::before,
      &::after {
        display: block;
        background-image: radial-gradient($green-8 4px, transparent 0);
        z-index: 2;
        width: 120px;
        height: 250px;
        opacity: 0.8;
      }
      &::before {
        right: 0;
        top: 315px;
      }

      &::after {
        left: 0;
        top: 50%;
        width: 120px;
      }
    }
    .expertise-solution-content {
      position: relative;
      z-index: 3;
      margin-top: -65px;
      padding: 45px 8.33333%;
    }
    .expertise-solution__btn {
      text-align: left;
      padding-left: calc(40% + 75px);
    }

  &.expertise-solution-2 {
    .expertise-img {
      height: 430px;
    }
  }
  }
}

@include media-breakpoint-up(xl) {
  .expertise-solution {
    .expertise-solution__btn {
      padding-left: calc(35% + 75px);
    }
  }
}
