.hero-expertise {
  .brand {
    .brand__title {
      span {
        display: block;
      }
    }
  }
}

.expertise {
  &.skills {
    &::before,
    &::after {
      display: none;
    }
    color: $blue-3;
    background: $white;
  }
}

.expertise-sector {
  padding: 50px 0 65px;
  background-image: url("../images/exp-mobile.jpg");
  @include bg-img-no-url();
  color: $white;
  .expertise-sector__btn {
    text-align: right;
    .btn {
      color: $blue-3;
    }
  }
}

@include media-breakpoint-up(md) {
  .expertise-sector {
    background-image: url("../images/exp-tab.jpg");
    .expertise-sector__btn {
      text-align: left;
    }
  }
}

@include media-breakpoint-up(lg) {
  .expertise-sector {
    background-image: url("../images/exp-desk.jpg");
    .expertise-sector__btn {
      text-align: right;
      width: 100%;
    }
  }
}

@include media-breakpoint-up(xl) {
  .expertise {
    &.skills {
      padding-top: 70px;
    }
  }
  .expertise-sector {
    .expertise-sector__btn {
      margin-top: 20px;
    }
  }
}
