$grid-gutter-width: 30px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  xxl: 1440px
);

// fonts
$Poppins-Thin: "Poppins-Thin";
$Poppins-Light: "Poppins-Light";
$Poppins-Regular: "Poppins-Regular";
$Poppins-Medium: "Poppins-Medium";
$Poppins-SemiBold: "Poppins-SemiBold";
$Poppins-Bold: "Poppins-Bold";

$Nunito-ExtraLight: "Nunito-ExtraLight";
$Nunito-Light: "Nunito-Light";
$Nunito-Regular: "Nunito-Regular";

$Montserrat-BoldItalic: "Montserrat-BoldItalic";

$font-family-base: $Poppins-Regular;
$font-family-title: $Poppins-Bold;
$font-family-subtitle: $Poppins-Bold;
$font-size-base: 1.3rem;
$line-height-base: 1.5;

$btn-font-family: $Poppins-Bold;
$btn-font-size: 1.6rem;
$btn-line-height: 1.8rem;
$btn-padding-y: 9px;
$btn-padding-x: 20px;
//fonts

$transition: .2s;

// colors
$white: #fff;
$black: #000;

$green-1:#44dbb3;
$green-2: #5abf9d;
$green-3: #3cbc97;
$green-4: #1bb189;
$green-5: #36a6ad;
$green-6: #8bebbb;
$green-7: #5bcbb9;
$green-8: #40aabb;
$green-9: #4bc0cc;

$blue-1: #425169;
$blue-2: #485770;
$blue-3: #13263f;
$blue-4: #172743;
$blue-5: #31273c;
$blue-6: #43c3d0;
$blue-7: #276a82;
$blue-8: #7393b6;
$blue-9: #043345;
$blue-10: #5b7092;
$blue-11: #172943;
$blue-12: #1d637c;

$gray-1: #e7e9eb;
$gray-2: #e7e9ec;

$body-color: $blue-3;
$link-color: $green-3;

$theme-colors:(
  "primary": $blue-4,
  "success": $green-1,
  "secondary": $white,
  "dark": $blue-3,
  "blue-5": $blue-5,
  "blue-4": $blue-4,
  "white": $white
);
// colors

$border-radius: 0;
$breadcrumb-bg: transparent;
$breadcrumb-divider: "\e902";
$breadcrumb-padding-x: 0;
$breadcrumb-divider-color: $blue-10;
$breadcrumb-active-color: $blue-10;
$breadcrumb-font-size: 1.1rem;

// aos
$aos-distance: 3rem;

//swiper
$themeColor: $green-1;


// humburger vars
// Settings
// ==================================================
$hamburger-padding-x           : 0 !default;
$hamburger-padding-y           : 0 !default;
$hamburger-layer-width         : 5rem !default;
$hamburger-layer-height        : .6rem !default;
$hamburger-layer-spacing       : .7rem !default;
$hamburger-layer-color         : $green-1 !default;
$hamburger-layer-border-radius : 0 !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;
// Types (Remove or comment out what you don’t need)
// ==================================================
$hamburger-types: (slider);

//

