doctype html
html.no-js(lang="fr")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
      block title
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    // Place favicon.ico in the root directory
    //- link(rel="stylesheet", href="/node_modules/swiper/swiper-bundle.min.css")
    // build:css styles/main.css
    link(rel="stylesheet", href="styles/main.css")
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src="scripts/modernizr.js")
    // endbuild
  body
    <!--[if IE]>
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->
      //- include navbar
      block root
      include footer

    // build:js scripts/vendor.js
    script(src="/node_modules/jquery/dist/jquery.min.js", defer)
    script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js", defer)
    script(src="/node_modules/swiper/swiper-bundle.min.js", defer)
    script(src="/node_modules/aos/dist/aos.js", defer)
    script(src="/node_modules/autosize/dist/autosize.min.js", defer)
    // endbuild
    // build:js scripts/main.js
    script(src="scripts/parallax.min.js", defer)
    script(src="scripts/main.js", defer)
    // endbuild
