footer
  .container-fluid
    .row
      .col-5.col-md-5.offset-xl-1.col-xl-5
        .row
          .col-12.col-md-6.col-lg-4
            img.footer__logo(src="images/logo-green.png", alt="", srcset="", data-aos="fade-up")
          .col-12.col-md-6.col-lg-6
            ul.footer__link
              each value in ['Accueil', 'L\’entreprise', 'Nos expertises', 'Nos secteurs', 'Carrières','Actualités', 'Contact']
                li: a(href="#", title=value)= value
      .col-7.col-md-7.col-xl-5.footer-right
        .row
          .col-12.footer__social
            each value in ['linkedin', 'facebook']
              a.btn.btn-square(href="#", title=value)
                i(class="icon-"+value)
          .col-12.footer-contact-policy
            .footer__contact
              span VOUS SOUHAITEZ
                br
                |  EN SAVOIR PLUS ?
              a.btn.btn-success(href="#") contactez-nous
            .footer__policy
              each value in ['Mentions légales', 'CGU']
                a(href="#", title=vlaue)= value
