header.header
  .container-fluid
    .row
      .offset-lg-2.col-lg-8
        .header-inner
          a.header__brand(href="#")
            img(src="images/logo-full.png", alt="logo eowin", data-aos="fade-down")
          .header-right
            strong.header__slogan Vos contenus, notre mission
            .header__content
              form(action="")
                i.icon-loupe.header-icon-loupe
                input(type="text")
              a.toggler.hamburger.hamburger--slider(href="#")
                span.hamburger-box
                  span.hamburger-inner
              .header__lang
                a.active(href="#", title="Français") Fr
                a(href="#", title="English") En
