
nav.navbar
  .container-fluid
    .row
      .offset-lg-2.col-lg-8
        .navbar-nav
          form(action="")
            input(type="text", placeholder="Recherche...")
            button.btn.btn-search(type="submit"): i.icon-loupe
          ul.navbar-menu
            li.active: a.nav-item(href="#", title="Accueil") Accueil
            li: a.nav-item(href="#", title="L’entreprise") L’entreprise
            li.has-submenu
              a.nav-item(href="#", title="Nos expertises") Nos expertises
              ul.submenu
                li: a(href="#" title="Conseil & intégration de solutions") Conseil & intégration de solutions
                li: a(href="#" title="Ingénierie") Ingénierie
                li: a(href="#" title="SLI/ASL & Rédaction technique") SLI/ASL & Rédaction technique
                li: a(href="#" title="Gestion documentaire") Gestion documentaire
                li: a(href="#" title="Archivage") Archivage
                li: a(href="#" title="Dématérialisation") Dématérialisation
            li.has-submenu
              a.nav-item(href="#", title="Nos secteurs") Nos secteurs
              ul.submenu
                li: a(href="#" title="Aéronautique & Spatial") Aéronautique & Spatial
                li: a(href="#" title="Défense") Défense
                li: a(href="#" title="Énergie/Engineering") Énergie/Engineering
                li: a(href="#" title="Gestion documentaire") Gestion documentaire
                li: a(href="#" title="Télécom") Télécom
                li: a(href="#" title="Autres Secteurs") Autres Secteurs
            li.has-submenu
              a.nav-item(href="#", title="Carrières") Carrières
              ul.submenu
                li: a(href="#" title="Conseil & intégration de solutions") Conseil & intégration de solutions
                li: a(href="#" title="Ingénierie") Ingénierie
                li: a(href="#" title="SLI/ASL & Rédaction technique") SLI/ASL & Rédaction technique
                li: a(href="#" title="Gestion documentaire") Gestion documentaire
                li: a(href="#" title="Archivage") Archivage
                li: a(href="#" title="Dématérialisation") Dématérialisation
            li: a.nav-item(href="#", title="Actualités") Actualités
            li: a.nav-item(href="#", title="Contact") Contact
