.company-presentation {
  padding: 60px 0;
  .text {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      h2, &::before {
        display: inline-block;
      }
      &::before {
        position: relative;
        top: -15px;
        margin-right: 20px;
      }
    }
    p {
      text-align: justify;
    }
    .text__child {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.company-info {
  padding: 20px 0;
  background-color: $green-1;
  .company-info-item-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 20px;
  }
  .company-info-item {
    text-align: center;
    max-width: 150px;
    margin: 0 auto;
    img {
      margin-bottom: 10px;
    }
    .company-info-item__caption {
      strong {
        display: block;
        font-size: 2.8rem;
        line-height: 2.2rem;
      }
      span {
        font-size: 1.8rem;
        font-family: $Poppins-SemiBold;
      }
    }
  }
}

.company-offer {
  padding: 60px 0 100px;
  .company-offer-item-container {
    padding: 50px 0;
    margin: auto;
  }

    .company-offer-item {
      text-align: center;
      &:last-child  {
        margin-top: 50px;
      }
      img {
        @include media-breakpoint-down(sm) {
          max-width: 220px;
        }
      }
      &.company-offer-item__arrow {
        text-align: center;
        padding: 2rem;
        img {
          width: 40px;
          // margin-left: -60px;
        }
      }
    }
}
.company-certification {
  background-color: $gray-2;
}


@include media-breakpoint-up(md) {
  .company-presentation {
    .text {
      h2 + p {
        font-family: $Poppins-Bold;
      }
    }
  }

  .company-info {
    padding: 40px 0;
    .company-info-item-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 30px;
    }
  }

  .company-info-img {
    height: 305px;
  }
}

@include media-breakpoint-up(lg) {
  .company-presentation {
    .text {
      padding-left: 0;
      h2 {
        display: inline-block;
        position: relative;
        padding-left: 90px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 5px;
          width: 60px;
          height: 10px;
        }
      }
      &::before {
        display: none;
      }
      h2 + p {
        font-family: $Poppins-Regular;
      }
      .text__child {
        flex-direction: row;
        align-items: flex-end;
        .company-presentation__img {
          flex: 0 0 40%;
          max-width: 40%;
        }
        p {
          flex: 1;
          align-self: flex-start;
          margin-bottom: 0;
          padding-left: 65px;
        }
      }
      &.text--split-lg {
        h2 + p {
          padding-left: 65px;
        }
      }
    }
  }

  .company-info-img {
    height: 435px;
  }
  .company-offer {
    .company-offer-item-container {
      padding: 50px 0 50px 44%;
      display: grid;
      grid-template-columns: 45% 10% 45%;
      grid-template-rows: 1fr .25fr 1fr;
      align-items: center;
      grid-template-areas:
      "item-1 item-2 item-3"
      ". . item-4"
      "item-7 item-6 item-5"
      "item-8 item-8 item-8"
      ;
    }
    .company-offer-item {
      &:first-child {
        grid-area: item-1;
      }
      &:nth-child(2) {
        grid-area: item-2;
        transform: rotate(-90deg);
        margin-left: 0;
      }
      &:nth-child(3) {
        grid-area: item-3;
      }
      &:nth-child(4) {
        grid-area: item-4;
      }
      &:nth-child(5) {
        grid-area: item-5;
      }
      &:nth-child(6) {
        grid-area: item-6;
        transform: rotate(90deg);
      }
      &:nth-child(7) {
        grid-area: item-7;
      }
      &:last-child {
        text-align: center;
        grid-area: item-8;
      }
      img {
        margin: 0;
        // max-width: 100%;
        width: 100%;
      }
      &.company-offer-item__arrow {
        padding: 0;
        img {
          width: 40px;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .company-presentation {
    .text {
      .text__child {
        .company-presentation__img {
          flex: 0 0 35%;
          max-width: 35%;
        }
        p {
          padding-left: 65px;
        }
      }
      &.text--split-lg h2 {
        & + p {
          padding-left: 65px;
        }
      }
    }
  }
  .company-info {
    .company-info-item {
      max-width: 250px;
    }
  }
}
