.carrer-page-info {
  padding: 10px 0;
  .carrer-page-info-list {
    display: flex;
    justify-content: center;
    column-gap: 25px;
  }
  .carrer-page-item {
    text-align: center;
    span {
      margin-top: 10px;
      display: block;
      font-size: 1.4rem;
      line-height: 2.292rem;
    }
  }
}

.carrer-page-description {
  padding: 40px 0 70px;
  &.skills { }
  .carrer-page-description-content {
    background-color: $white;
    margin-bottom: 60px;
    margin-top: 30px;
    padding: 35px 10px;
    .join {
      display: inline-block;
      span {
        font-size: 1.856rem;
        text-align: left;
        color: $blue-11;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .carrer-page-info {
    padding: 50px 0;
    .carrer-page-info-list {
      column-gap: 75px;
    }
    .carrer-page-item {
      span {
        font-size: 1.6rem;
      }
    }
  }
  .carrer-page-description {
    .carrer-page-description-content {
      padding: 35px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .carrer-page-info {
    .carrer-page-info-list {
      column-gap: 95px;
    }
  }
}
