.carrer-presentation {
  padding: 35px 0;
  .carrer-presentation__intro {
    margin-bottom: 25px;
    p {
      font-family: $Poppins-Bold;
    }
  }
  .carrer-presentation__descripiton {
    .carrer-presentation____descripiton-content {
      img {
        margin-bottom: 20px;
      }
    }
  }
  p {
    text-align: justify;
  }
}

.carrer-img {
  height: 285px;
}

.carrer {
  padding: 50px 0 60px;
  position: relative;
  background-color: $green-1;
  > img {
    position: absolute;
    right: 0;
    bottom: 220px;
  }
  .carrer-list {
    margin-top: 30px;
    font-size: 1.8rem;
    line-height: 2.001rem;
    color: $blue-4;
    padding-left: 60px;
    h4 {
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    ul {
      li {
        position: relative;
        font-family: $Poppins-Medium;
        margin-bottom: 10px;
        &::before {
          content: ">";
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }

}

@include media-breakpoint-up(md) {
  .carrer-presentation {
    padding: 45px 0;
    .carrer-presentation__descripiton {
      display: flex;
      flex-direction: column-reverse;
      > img {
        margin-bottom: 25px;
      }
      p {
        margin-bottom: 20px;
      }
    }
  }

  .carrer-img {
    height: 425px;
  }
  .carrer {
    > img {
      bottom: 275px;
    }
    .carrer-list {
      column-count: 2;
      column-gap: 15%;
      font-size: 1.5rem;
      ul {
        margin-bottom: 40px;
        li {
          margin-bottom: 25px;
        }
      }
      .join {
        margin-top: 90px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .carrer-presentation {
    .carrer-presentation__container {
      display: flex;
      .text {
        flex: 0 0 50%;
        max-width: 50%;
      }
      .carrer-presentation__intro {
        padding-left: 30px;
      }
    }
    .carrer-presentation__descripiton {
      padding-left: 0;
      flex-direction: row;
      align-items: flex-end;
      > img {
        margin-bottom: 0;
        flex: 0 0 50%;
        max-width: 50%;
      }
      .carrer-presentation____descripiton-content {
        flex: 1;
        padding-left: 30px;
        div {
          display: flex;
          flex-direction: column-reverse;
          column-gap: 30px;
          img {
            flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }
    }
  }
  .carrer {
    .carrer-list {
      padding-left: 0;
      column-gap: 0;
    }
  }
}

@include media-breakpoint-up(xl) {
  .carrer-presentation {
    .carrer-presentation__container {
      .text {
        flex: 0 0 40%;
      }
    }
    .carrer-presentation__descripiton {
      > img {
        flex: 0 0 40%;
      }
      .carrer-presentation____descripiton-content {
        div {
          align-items: flex-start;
          flex-direction: row;
          img {
            flex: 0 0 60%;
            max-width: 60%;
          }
        }
      }
    }
  }
}
