// .hero-contact {
//   .brand {}
// }

.page-contact {
  padding: 30px 0;
  p {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .contact-info {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-bottom: 30px;
  }
}

.page-contact-form {
  margin-bottom: 35px;
  .form-check {
    display: flex;
    height: 30px;
    margin-bottom: 30px;
    font-size: 1.6rem;
    line-height: 1.8rem;
    span {
      width: 50%;
    }
    .form-check-wrapper {
      display: flex;
      width: 50%;
      .form-check-item {
        margin-left: 25px;
        label {
          margin-bottom: 0;
          margin-right: 15px;
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .btn {
    color: $white;
  }
}

@include media-breakpoint-up(md) {
  .page-contact {
    padding: 50px 0;
    .contact-info,
    p {
      font-size: 1.3rem;
    }
  }
  .page-contact-form {
    padding-top: 20px;
    margin-bottom: 45px;
    .form-check {
      margin-bottom: 20px;
    }
    .form-input {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .hero-contact {
    .brand {
      .brand__title {
        flex: 0 0 45%;
        max-width: 45%;
      }
      .brand__img {
        flex: 0 0 55%;
        max-width: 55%;
      }
    }
  }
  .page-contact-form {
    .form-input {
      display: block;
    }
  }
}
