.actu {
  padding: 35px 0 40px;

  .text {
    color: $blue-3;
    h2 {
      margin-bottom: 24px;
    }
    span {
      display: block;
      font-family: $Nunito-ExtraLight;
      font-size: 1.8rem;
      line-height: 1.921rem;
      margin-bottom: 10px;
    }
    strong {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 1.698rem;
      line-height: 1.8rem;
    }
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      .btn {
        align-self: flex-end;
      }
    }
  }

  .actu-slider {
    padding-top: 30px;
    height: 305px;
    max-width: 450px;
    .swiper-button-prev,
    .swiper-button-next {
      top: 0;
      margin-top: 0;
      background-color: $blue-5;
      padding: 3px;
      font-size: 1.4rem;
      width: 22px;
      height: 22px;
      color: $white;
      &::after {
        display: none;
      }
    }
    .swiper-button-next {
      right: 0;
    }
    .swiper-button-prev {
      right: 30px;
      left: unset;
    }
  }


  @include media-breakpoint-up(md) {
    padding: 65px 0;
    .actu-slider {
      .swiper-button-next {
        right: unset;
        left: 30px;
      }
      .swiper-button-prev {
        right: unset;
        left: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .actu-slider-container {
      position: relative;
      padding-left: 75px;
      .actu-slider {
        position: static;
        max-width: 370px;
        height: 270px;
        margin: 0;
        padding-top: 0;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .text {
      // padding-right: 50px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  @include media-breakpoint-up(xxl) {
    .text {
      padding-right: 50px;
    }
  }
}
