.actor {
  padding: 50px 0;
  background-color: $gray-1;
  .actor-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 45px;
  }
  @include media-breakpoint-up(md) {
    .actor-list {
      padding-top: 40px;
      margin-bottom: 50px;
      gap: 30px;
    }
  }
}
