.carrer-contact {
  display: flex;
  flex-direction: column;
  color: $white;
  p {
    font-size: 1.6rem;
    margin-bottom: 30px;
  }
  .carrer,
  .contact {
    padding: 35px $grid-gutter-width/2;
    min-height: 330px;
    display: flex;
    align-items: stretch;
  }
  .carrer-content,
  .contact-content {
    display: flex;
    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      h2, p {
        width: 100%;
      }
      .btn {
        margin-top: auto;
      }
    }
  }
  .carrer {
    @include bg-img-no-url();
  }

  .contact {
    background-color: $green-4;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20%;
      border: 10px solid $green-4;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      transform: translateY(100%);
    }
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
    p {
      font-size: 1.3rem;
      line-height: 1.8rem;
    }
    .carrer,
    .contact {
      padding: 50px  40px 50px $grid-gutter-width/2;
    }
    .carrer-content,
    .contact-content {
      .text {
        align-items: flex-start;
      }
    }
    .carrer {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .contact {
      &::after {
        left: 23.5%;
        border-width: 30px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .carrer,
    .contact {
      padding-top: 50px;
      padding-bottom: 45px;
    }
    .carrer {
      flex: 0 0 58.3333%;
      max-width: 58.3333%;
      padding-left: 16.6667%;
      .carrer-content {
        margin-left: $grid-gutter-width/2;
      }
    }
    .contact {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  @include media-breakpoint-up(xl) {
    .carrer,
    .contact {
      padding-right: 8.3333333333%;
    }
    .contact {
      padding-left: 8.3333333333%;
    }
  }
}
