.certification {
  padding: 30px 0;
  .certification-list {
    padding-left: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .certification-item {
    text-transform: uppercase;
    color: $blue-8;
    border: 1px solid $blue-8;
    padding: 8px;
    font-size: 1.6rem;
    letter-spacing: .016em;
    font-family: $Nunito-Regular;
    text-align: center;
  }
  @include media-breakpoint-up(md) {
    .certification-list {
      padding-left: 0;
      grid-template-columns: repeat(4, 1fr);
    }
    .certification-item {
      font-size: 1.4rem;
    }
  }
  @include media-breakpoint-up(lg) {
    padding: 42px 0;
    .certification-list {
      padding-left: 90px;
      display: flex;
    }
  }
  @include media-breakpoint-up(xl) {
    .certification-list {
      gap: 40px;
    }
    .certification-item {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
