.skills {
  padding: 30px 0;
  background-image: url("../images/expertisebg-mobile.jpg");
  background-color: $blue-9;
  @include bg-img-no-url();
  color: $white;
  position: relative;

  .skill-list {
    .box {
      min-height: 180px;
      margin-bottom: 20px;
    }
  }

  @include media-breakpoint-up(md) {
    background-image: url("../images/expertisebg-tab.jpg");
    padding: 60px 0;
    &::before,
    &::after {
      content:"";
      position: absolute;
      background-color: transparent;
      background-image: radial-gradient($green-8 4px, transparent 0);
      background-size: 30px 30px;
      background-position: 0 10px;
    }

    &::before {
      right: 0;
      top: 0;
      width: 60px;
      height: 150px;
    }

    &::after {
      left: 0;
      bottom: 80px;
      width: 80px;
      height: 240px;
    }

    .skill-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(7, minmax(25px, auto));
      column-gap: 30px;
      grid-template-areas:
        ". . skill-2"
        ". . skill-2"
        "skill-1 skill-1 skill-2"
        "skill-3 skill-4 skill-5"
        "skill-3 skill-4 skill-5"
        ". . ."
        ". skill-6 skill-7"
      ;
      .box {
        min-height: 255px;
        margin-bottom: 0;
        padding: 20px;
        padding-top: 60px;
        align-items: flex-start;
      }

      .skill-1 {
        grid-area: skill-1;
        margin-bottom: 25px;
        min-height: 215px;
      }
      .skill-2 {
        grid-area: skill-2;
        margin-bottom: 25px;
      }
      .skill-3 { grid-area: skill-3;}
      .skill-4 { grid-area: skill-4;}
      .skill-5 { grid-area: skill-5;}
      .skill-6 { grid-area: skill-6;}
      .skill-7 {
        grid-area: skill-7;
        align-self: end;
        justify-self: end;
      }
    }


    @include media-breakpoint-up(lg) {
      background-image: url("../images/expertisebg.jpg");
      &::before {
        top: 0;
        width: 120px;
      }

      &::after {
        bottom: 50px;
        width: 120px;
      }

      .skill-list {
        grid-template-columns: 1fr 1.35fr 1.5fr;
        grid-template-areas:
          ". . skill-2"
          ". . skill-2"
          "skill-1 skill-1 skill-2"
          "skill-3 skill-4 skill-5"
          "skill-3 . skill-5"
          ". skill-6 ."
          ". skill-6 skill-7"
        ;
        .box {
          padding-top: 20px;
          align-items: center;
        }
      }
    }

  }
}
