.trust {
  padding: 30px 0 40px;

  h2 {
    margin-bottom: 30px;
  }

  .trust-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    .trust-list__item {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @include media-breakpoint-up(sm) {
    .trust-list {
      .trust-list__item {
        justify-content: flex-start;
      }
    }
  }

  @include media-breakpoint-up(md) {
    h2 {
      margin-bottom: 35px;
    }
    .trust-list {
      grid-template-columns: repeat(6, 1fr);
      gap: 15px;
      padding-left: 90px;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 65px 0 65px;
    h2 {
      margin-bottom: 34px;
      max-width: 500px;
    }
    .trust-list {
      grid-template-columns: repeat(10, 1fr);
    }
  }

  @include media-breakpoint-up(xl) {
    .trust-list {
      padding-left: 0;
      gap: 20px;
    }
  }
}
