.actu-last-actu {
  background-color: $green-1;
  .text {
    .btn {
      align-self: center;
      width: fit-content;
    }
  }
  .actu-last-actu__img {
    margin-bottom: 22px;
    height: 370px;
  }
  @include media-breakpoint-up(md) {
    .text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px;
      grid-template-areas:
        "actu-text actu-img"
        "actu-btn actu-img"
      ;
      .actu-last-actu__text {
        grid-area: actu-text;
      }
      .actu-last-actu__img {
        min-height: 270px;
        height: 100%;
        grid-area: actu-img;
      }
      .btn {
        grid-area: actu-btn;
        align-self: end;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .text {
      grid-template-columns: 1.75fr 1fr;
      .actu-last-actu__text {
        max-width: 85%;
      }
    }
  }
}
