.actu-article {
  padding: 50px 0;
  .actu-article-slider-container {
    position: relative;
    #actu-article-slider-container {
      position: static;
      max-width: 80%;
    }
    .swiper-button-next,
    .swiper-button-prev {
      font-size: 3rem;
      color: $blue-3;
      &:hover {
        color: $green-1;
      }
    }
    .swiper-button-next {
      right: 0;
    }
    .swiper-button-prev {
      left: 0;
    }
  }

  @include media-breakpoint-up(md) {
    .actu-article-slider-container {
      #actu-article-slider-container {
        max-width: 100%;
      }
      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
      .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 80px 0 30px;
    .actu-article-slider-container .swiper-wrapper {
      grid-column-gap: 65px;
    }
  }
}
