.actu-page {
  padding: 45px 0;
  .actu-page-content {
    margin-bottom: 50px;
  }
  .text {
    margin-bottom: 25px;
    span {
      font-family: $Nunito-ExtraLight;
      font-size: 1.8rem;
      line-height: 1.921rem;
    }
  }
  figure {
    margin-bottom: 25px;
    @include img-container();
    &::before {
      padding-top: 58%;
    }
  }
  p {
    margin-bottom: 20px;
    font-size: 1.6rem;
    line-height: 1.797rem;
  }

  @include media-breakpoint-up(md) {
    .text {
      margin-bottom: 38px;
      h2 {
        margin-bottom: 20px;
      }
    }
    figure {
      margin-bottom: 30px;
      &::before {
        padding-top: 63.7%;
      }
    }
    p {
      font-size: 1.3rem;
      line-height: 1.8rem;
    }
  }

  @include media-breakpoint-up(xl) {
    figure {
      margin-bottom: 40px;
      &::before {
        padding-top: 55%;
      }
    }
  }
}
